
<!DOCTYPE html>
<html>
<head>
<title>About Rockstar AI</title>
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/js/main.js" async></script>

    <base target="_blank">

    <style>
        #snapshot {
            float: right;
            position: absolute;
            margin-left: 1100px;
            margin-top: 670px;
            border: 5px solid red;
        }
        input, button {
            padding: 15px;
            margin: 10px;
            font-family: "Helvetica";
            font-size: 25px;
        }
        .navbar {
            margin-bottom: 20px;
            background-color: lightyellow;
        }
        img {
            padding: 10px;
            border: 3px solid gray;
        }
        .container {
            max-width: 1800px;
        }

        h2 {
            font-size: 80px;
        }
        video {
            vertical-align: middle;
            text-align:center;
        }

    </style>
</head>

<body>


<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
              <a href="./"><img style="float:left;margin:10px;" src="/images/rockstar-ai_logo.png"  width="150"></img>
                  <img style="float:left;margin:10px;" src="/images/rockstarai.jpg"  width="150"></img></a>
      <h3 style="float:left;"> RockStar-ai</h3>
        <img style="float:right;margin:50px;" src="/images/spock_rock.png"  width="300"></img>

    <div class="navbar-header">
      <a href="./" class="navbar-brand">Rockstar</a>

      <nav role="navigation">
      <ul class="nav navbar-nav navbar-right">
                  <li>
          <a href="./">Rock Me!</a>
        </li>
          <li><a href="rock_face_instructions.pdf" >How To Tag Rocks, Part 1</a></li>
          <li>
          <a href="https://github.com/cindyloo/rockstar-ai">More at Github...</a>
        </li>
          <li><a href="/about" >About</a></li>
        <li>
      </ul>
    </nav>
        </div>
  </div>
</header>
<div class="container">
    <div class="row">
        <div class="col">

<h3> About Rockstar </h3>

<p>Concerned about your privacy online? Worried with whom and how photos of you and/or your family might be shared on social media? You probably should be. Revelations about social networks (like Facebook) sharing your personal data with unethical actors (like Cambridge Analytica) are a major cause for concern. According to a recent Pew research study, 91% of Americans worry that social networks might misuse or resell their sensitive personal data.

That's why we built Rockstar, a fully-featured social network in which everyone's identity is correlated to a rock. Rockstar most literally ensures rock solid privacy.<br /><br /><br />

    Because humans are excellent at recognizing patterns, we can see faces in non-human forms - something that machine learning algorithms have difficulty replicating. As such, our most secure Rockelgangers come from samples from inorganic material - a collection of rocks at <a href="http://www006.upp.so-net.ne.jp/chinseki/index-ex.html">The Japanese Museum of Rocks that Look like Faces</a> We captured 1,500 unique rock face images that we estimate resemble 85% of the human population. Using the innovative Nimoy-Brenner Algorithm developed at  <a href="https://civic.mit.edu/">MIT Center for Civic Media</a>,
    we match your face to that of a celebrity and from that to one of these 1200 rocks. By cloaking your identity via your Rockelganger, you can use social media freely without worry that your or your family's data is being resold or compromised.

<br /><br />Worried that you might be part of the 15% whose face doesn't map neatly to a rock? Using cutting-edge generative adversarial neural network techniques we can generate a custom Rockelganger just for you. These rocks look recognizably like you, but are sufficiently inorganic, enough to fool even the most advanced facial recognition systems.

<br /><br />ADDITIONAL BENEFITS!!!<br /><br /> Escape your echo chamber! Enhanced privacy is not the only benefit of Rockstar. We know that social networks can lead toward echo chambers of information where you hear only from your friends and people that you spend time with offline. Rockstar offers a whole new way to make friends and meet people online.

<br /><br />Make new friends! With only 1,200 default rocks, it's almost certain that you have the same rockelganger as someone else online. Why not meet that person and find out what interests you share in common?

<br /><br />Learn about geology! Meet Rockstar members who share your same type of rock.. Is your rock face an igneous rock? Meet other igneous rocks or branch out and search for sedimentary or metamorphic rocks.

Rockstar: smashing privacy violations and the filter bubble, one rock at a time.</p>
        </div><br /><br /><br /><br />
        <h4>But, all snark aside, for realz read the <a href="https://github.com/cindyloo/rockstar-ai"> Github page</a>. This project should rock your understanding of AI, machine learning and provoke discussion around what data is being spread and utilized across facial recognition platforms</div></div>
<img style="float:left;padding:50px; margin:50px;" src="/images/civic_media.png"  width="200"></img>
</body>
</html>
